<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" media="screen" href="http://localhost/carschool/static/css/style.css" type="text/css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <title>Kezdőlap</title>
    <script type="text/javascript" src="http://localhost/carschool/static/js/script.js"></script>
   </head>
   <body>
		<div id="body_eff">
			<div id="body_racs">