<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" media="screen" href="style.css" type="text/css">
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <title>Kezdőlap</title>
        <script type="text/javascript">
						// Menü elemek resetelése
						function clear(){
							for(var i=0;i<=2;i++){// i<=MENÜ SZÁM
								$('li#l_'+i).removeClass('akt');
								$('a#a_'+i).removeClass('akt');
								$('a#a_'+i).removeClass('aktual');
								$('li#l_'+i).addClass('sima');
								$('a#a_'+i).addClass('sima');
							}
						}
						// Menü váltás
						function valt(szam){
							clear();
							$('li#l_'+szam).addClass('akt');
							$('a#a_'+szam).addClass('aktual');
						}
						
						// Futás
            $(document).ready(function() {
							// Hosszok belövése
							var x=$('div#fo_doboz').height();
							$('div#tartalom').css('height',x+100);
							$('div#fo_elvalaszto').css('height',x+79);
							$('div#body_racs').css('height',x+560);
							
							// Akt menüpont=0.ik
							valt(0);
							// Menük ul hover-re -> a is classt kap
							$("li.m").hover(
								function () {
									var mely=$(this).attr('id');
									$('a#a_'+mely[2]).addClass('akt');
								}, 
								function () {
									var mely=$(this).attr('id');
									$('a#a_'+mely[2]).removeClass('akt');
								}
							);
							
							// Kereső szövegének dinamizálása
							$("input.keres_txt").focus(function() {
								$(this).val('');
							});
							$("input.keres_txt").focusout(function() {
								var ertek=$(this).val();
								if(ertek==''){
									$(this).val('Keresés');
								}else{
									$(this).val(ertek);
								}
							});
							
            });
        </script>
    </head>
    <body>
			<div id="body_eff">
				<div id="body_racs">
					<div id="contener">
						<!-- Menü -->
						
						<div id="head">
						
						</div >
						<div id="menu">
							<ul>
								<li class="m" id="l_0"><a id="a_0" href="#" class=""  onclick="valt(0)" >Kezdőlap</a></li>
								<li class="m" id="l_1"><a id="a_1" href="#" class="" onclick="valt(1)" >Kapcsolat</a></li>
								<li class="m" id="l_2"><a id="a_2" href="#" class="" onclick="valt(2)" >Információk</a></li>
							</ul>
							<div class="search">
								<form method="post">
									<input type="submit" value="" name="keres_ok" class="keres_btn" />
									<input type="text" value="Keresés" name="keres_mit" class="keres_txt" />
								</form>
							</div>
						</div>
						<!-- /Menü doboz -->
						
						<!-- Közép doboz -->
						<div id="tartalom">
							<!-- Oldalsáv doboz -->
							<div id="oldal_sav">
								<div class="cetli">
									
									<p class="cim">Adatok</p>
									<hr />
									<br />
									<div class="spacer"></div>
										<span class="tit_2">Név :</span>
										<span class="dat_2">Kis Béla</span>
									<br />
										<span class="tit_2">Jog :</span>
										<span class="dat_2">admin</span>
									<br />
									<form method="post" action="index.html">
										<input type="submit" value="" name="user_kilep" class="kilepes" />	
									</form>
									   
									<!-- (Ha nincs van jelentkezve) 
									<form method="post">
										<p class="cim">Belépés</p>
										<hr />
										<br />
										<div class="spacer"></div>
											<span class="tit">Felhasználónév :</span>
											<span class="dat"><input type="text" name="felh_nev" class="text" /></span>
										<br />
											<span class="tit">Jelszó :</span>
											<span class="dat"><input type="password" name="felh_nev" class="text" /></span>
										<br />
										<input type="submit" value="" name="user_kilep" class="belepes" />	
									</form>
									(/Ha nincs van jelentkezve)-->
									
									<!-- Felgyűrődés effect--><div class="lap_effect"></div>
								</div>
							</div>
							<!-- /Oldalsáv doboz -->
							
							<!-- Elválasztó vonal -->
							<div id="fo_elvalaszto"><img src="img/vert_sep.png"/></div>
							<!-- /Elválasztó vonal -->
							
							
							<!-- Tényleges tartalom -->
							<div id="fo_doboz">
								<p class="cim">Ez egy sablon</p>
								<hr />
								
								<p>
									Lorem ipsum <a href="#">dolor sit amet</a>, consectetur adipiscing elit. Vestibulum at pharetra nisi. Vivamus placerat ipsum in leo dignissim eleifend. Sed quis ipsum nisi. Nunc velit mi, consectetur sed commodo id, varius id enim. Suspendisse eu ante posuere felis pulvinar sagittis. Sed venenatis tempus tincidunt. Sed posuere velit quis arcu auctor cursus et eget libero. In quis arcu mi. Donec orci enim, sollicitudin eu egestas vel, facilisis nec sapien. Sed blandit, nibh at dictum posuere, leo mauris rutrum dui, at varius eros ipsum eget metus. Curabitur ullamcorper malesuada augue, sed viverra nunc hendrerit in. In hac habitasse platea dictumst. Vivamus lacinia interdum eros at sagittis. Fusce consectetur lobortis libero at aliquam. Ut congue orci et justo aliquam feugiat. 
								</p>
								<!-- Hiba doboz -->
								<div class="error">
									<span class="title">Hiba történt :</span>
									<br />
									<span class="desc">Érvénytelen beviteli adatok!</span>
								</div>
								<!-- /Hiba doboz -->
								
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Vestibulum</a> at pharetra nisi. Vivamus placerat ipsum in leo dignissim eleifend. Sed quis ipsum nisi. Nunc velit mi, consectetur sed commodo id, varius id enim. Suspendisse eu ante posuere felis pulvinar sagittis. Sed venenatis tempus tincidunt. Sed posuere velit quis arcu auctor cursus et eget libero. In quis arcu mi. Donec orci enim, sollicitudin eu egestas vel, facilisis nec sapien. Sed blandit, nibh at dictum posuere, leo mauris rutrum dui, at varius eros ipsum eget metus. Curabitur ullamcorper malesuada augue, sed viverra nunc hendrerit in. In hac habitasse platea dictumst. Vivamus lacinia interdum eros at sagittis. Fusce consectetur lobortis libero at aliquam. Ut congue orci et justo aliquam feugiat. 
								</p>
								
								<!-- figyelmeztetés doboz -->
								<div class="warning">
									<span class="title">Figyelem :</span>
									<br />
									<span class="desc">A választott témában még nincsenek adatok!</span>
								</div>
								<!-- /figyelmeztetés doboz -->
								
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at pharetra nisi. Vivamus placerat ipsum in leo dignissim eleifend. Sed quis ipsum nisi. Nunc velit mi, consectetur sed commodo id, varius id enim. Suspendisse eu ante posuere felis pulvinar sagittis. Sed venenatis tempus tincidunt. Sed posuere velit quis arcu auctor cursus et eget libero. In quis arcu mi. Donec orci enim, sollicitudin eu egestas vel, facilisis nec sapien. Sed blandit, nibh at dictum posuere, leo mauris rutrum dui, at varius eros ipsum eget metus. Curabitur ullamcorper malesuada augue, sed viverra nunc hendrerit in. In hac habitasse platea dictumst. Vivamus lacinia interdum eros at sagittis. Fusce consectetur lobortis libero at aliquam. Ut congue orci et justo aliquam feugiat. 
								</p>
								
								<!-- siker doboz -->
								<div class="succes">
									<span class="title">Sikeres művelet :</span>
									<br />
									<span class="desc">A törlés sikeresen végrehajtva!</span>
								</div>
								<!-- /siker doboz -->
								
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at pharetra nisi. Vivamus placerat ipsum in leo dignissim eleifend. Sed quis ipsum nisi. Nunc velit mi, 
								</p>
								<div class="styler">
									<div class="table_f">
										<div class="title">Egy sablon tábla</div>
										<div class="tr">
											<div class="td">Cella egy</div>
											<div class="td">Cella kettő</div>
											<div class="td"><a href="#">Cella három</a></div>
											<div class="td">Cella négy</div>
										</div>
										<div class="tr">
											<div class="td">Cella egy</div>
											<div class="td atten">Figyelem</div>
											<div class="td">Cella három</div>
											<div class="td">Cella négy</div>
										</div>
										<div class="tr"></div>
										<div class="foot">Tábla lábléc egyéb info... ja ez egy fekvő tábla</div>
									</div>
								</div>

								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at pharetra nisi. Vivamus placerat ipsum in leo dignissim eleifend. Sed quis ipsum nisi. Nunc velit mi, 
								</p>
								
								<div class="styler2">
									<div class="table_a">
										<div class="title">Valaminek az adatai</div>
										<div class="tr">
											<div class="td_c">Cim 1</div>
											<div class="td_t">Adat 1</div>
										</div>
										<div class="tr">
											<div class="td_c">Cim 2</div>
											<div class="td_t"><a href="#">Adat 2</a></div>
										</div>
										<div class="tr">
											<div class="td_c">Cim 3</div>
											<div class="td_t">Adat 3</div>
										</div>
										<div class="tr">
											<div class="td_c">Cim 4</div>
											<div class="td_t"><input type="text" class="sima" value="IDE LEHET ADATOT BEVINNI"></div>
										</div>
										<div class="tr"><input type="submit" class="bevisz" value="Bevisz" /></div>
										<div class="foot">asd ki is hagyható</div>
									</div>
								</div>
								
							</div>
							<!-- /Tényleges tartalom -->
							
							
						</div>
						<!-- /Közép -->
						
						<!-- Lábléc -->
						<div id="lab">

							<!-- Ball doboz -->
							<div class="bal">
								<p class="cim">Oldal térkép</p>
								<ul>
									<li><a href="#">Link 1</a></li>
									<li><a href="#">Link 2</a></li>
										<ul>
											<li class="al"><a href="#" class="ala">Al Link 1</a></li>
											<li class="al"><a href="#" class="ala">Al Link 2</a></li>
										</ul>
									<li><a href="#">Link 3</a></li>
									<li><a href="#">Link 4</a></li>
								</ul>
							
							</div>
							<!-- /ball doboz -->
							
							<!-- Közép doboz -->
							<div class="koz">
								<p class="cim">Külső linkek</p>
								
								<a href="#" class="kuls">Külső link 1</a><br />
								<a href="#" class="kuls">Külső link 2</a><br />
								<a href="#" class="kuls">Külső link 3</a><br />
								<a href="#" class="kuls">Külső link 4</a><br />
								<a href="#" class="kuls">Külső link 5</a><br />
								<a href="#" class="kuls">Külső link 6</a><br />
							</div>
							<!-- /Közép doboz -->
							
							<!-- Jobb doboz -->
							<div class="jobb">
								<i>nemtok már mit ide írni :(</i>
							</div>
							<!-- /Jobb doboz -->
							
						</div>
					</div>
					<div id="body_eff_tuk_r">
						<div id="body_eff_tuk">
						</div>
					</div>
				</div>
			</div>
    </body>
</html>